#{$prefix}-fill-h {
  height: 100% !important;
}

#{$prefix}-fill-w {
  width: 100% !important;
}

/*隐藏*/
#{$prefix}-hidden {
  display: none !important;
}

/*水平居中*/
#{$prefix}-center-h {
  display: flex;
  justify-content: center;
}

/*垂直居中*/
#{$prefix}-center-v {
  display: flex;
  align-items: center;
}
