#{$prefix}-fill-h {
  height: 100% !important;
}

#{$prefix}-fill-w {
  width: 100% !important;
}

/*隐藏*/
#{$prefix}-hidden {
  display: none !important;
}

/*垂直居中*/
#{$prefix}-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
